:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 1. Text and background */
  --background-color: #f6f7fb;
  --text-color: #282538;

  /* 2. Primary is for CTA's and sections. Secondary is for less important sections and info cards */
  --primary-color: #5BB9A0;
  --secondary-color: #93D5C4;
  
  /* 3. Accent color is an additional color. It appears in images, highlights, hyperlinks, boxes, cards, etc. */
  --accent-color: #77CEB7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root-app {
  background-color: var(--background-color);
}
